p {
  color: #8D1059;
}
body {
  background-color: #FAD4EA;
  font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 48px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
h2 {
  color: #E8399F;
  font-family: 'Fredericka the Great', cursive;
}

#left,
#right {
  padding: 20px;
  background: #fce4ec;
  box-sizing: border-box;
  border-radius: 10px; 
}

 /* Using Flex */
 .container {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

 .checked {
  text-decoration: line-through;
  color: grey;
 }

 #video-container {
    display: flex;
    padding: 20px;
 }

/* Add media queries for tablets*/
 @media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  body{
    background-image: linear-gradient(to bottom, #FFFFFF,#FAD4EA);
  }
}

@media (max-width: 600px){
  #left, #right {
    border: 20px solid #F06292;
  }
}