p {
  color: #8D1059;
}
body {
  background-color: #FAD4EA;
  font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 48px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
h2 {
  color: #E8399F;
  font-family: 'Fredericka the Great', cursive;
}
/* .description {
  max-width: 400px;
  margin-left: 20px;
} */
/* #left {
  width: 600px; 
  float: left;
  margin-left: 20px;
}
#right {
  width: 600px;
  float: left;
  margin-left: 50px;
} */

#left,
#right {
  padding: 20px;
  background: #fce4ec;
  box-sizing: border-box;
}

 /* Using Flex */
 .container {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

 .checked {
  text-decoration: line-through;
  color: grey;
 }

 #video-container {
    display: flex;
 }

/* Add media queries for tablets*/
 @media (max-width: 768px) {
  /* #left, #right {
    text-align: center;
  } */
  
  img {
    width: 100%;
    height: auto;
  }

  body{
    background-color: #FFFF;
  }
}

@media (max-width: 600px){
  #left, #right {
    /* text-align: center; */
    border: 20px solid #F06292;
  }
}